build
exe-moilcvdrp
exe-moilcvdrp/moildev_app1
unicorn_model
yolov8ntvmcup
sample_footage.zip
log
exe-moilcvdrp
sample_footage
asset/gui copy.glade
object-detection
unicornv8m
asset/yolov8n_pano
unicorn_baru
unicornv8m.txt